*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito" !important;
}
.background{
   
    padding-top: 70px;
    .headers{
        display: flex;
        justify-content: center;
        h2{
            font-size: 25px;
            font-weight: 500;
        }
    }
    .boxs{
        padding-top: 20px;
        .border{
          margin-bottom: 30px;
            padding: 20px;
          
            cursor: pointer;
            img{
                width: 100%;
            }
        }
    }
}
@media(max-width:490px){
    .background{
        padding-top: 40px;
      
        .headers{
          h2{
            font-size: 16px;
            font-weight: 600;
          }
        }
        .boxs{
            .border{
                img{
                    
                }
            }
        }
    }
}