* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.background {
  padding-top: 20px;
  animation: fadeIn 2s ease-in-out;
  .futureControl {
    background-color: #F8F8F8;

    margin-top: 50px;
    display: flex;
    align-items: center;
    .futureImage {
      width: 50%;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .futuretext {
      width: 50%;
      display: flex;
      flex-direction: column;

      gap: 20px;
      cursor: pointer;

      h2 {
        font-weight: 700;
        font-size: 32px;
        padding-left: 50px;

      }

      p {
        width: 500px;
        padding-left: 50px;
        font-size: 20px;
        line-height: 40px;
      }
    }
  }
  .ourPurpose{
    margin-top: 40px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    cursor: pointer;
    gap: 20px;

    h2 {
      font-weight: 700;
      font-size: 32px;
    }

    p {
      text-align: center;
      font-size: 20px;
      width: 750px;
      line-height: 40px;
    }
  }
  .principle {
    margin-top: 40px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    cursor: pointer;
    gap: 20px;

    h2 {
      font-weight: 700;
      font-size: 32px;
    }

    p {
      text-align: center;
      font-size: 20px;
      width: 750px;
      line-height: 40px;
    }
  }

  .certificates {
    padding-top: 50px;
    padding-bottom: 80px;

    .certificatesheaders {
      padding-top: 40px;
      padding-bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      h2 {
        font-size: 32px;
        font-weight: 600;
      }
    }

    .images {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 50px;

      img {
        width: 20%;
        padding: 10px;

        border-radius: 10px;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          z-index: 9999999999999999999999999999999999999999999999999999999999;
          // transform: scale(1.5); // Fare üzerine gelindiğinde resmi 1.1 kat büyüt
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .background {
    .principle {
      padding: 25px;

      h2 {
        font-size: 24px;
      }

      p {
        font-size: 12px;
        line-height: 24px;
        width: 300px;
      }
    }

    .futureControl {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .futureImage{
        width: 100%;
      }
      .futuretext {
        width: 100%;
        padding: 25px;
        text-align: center;
        h2 {
          padding-top: 10px;
          font-size: 24px;
        }

        p {
          font-size: 12px;
          line-height: 24px;
          width: 300px;
        }
      }
    }
.ourPurpose{
  h2{
    font-size: 24px;
  }
  p{
    font-size: 12px;
    line-height: 24px;
    width: 300px;
  }
}
    .certificates {
      .certificatesheaders {
        h2 {
          font-size: 24px;
        }
      }

      .images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        img {
          width: 80%;
          margin: auto;
          &:hover {
            z-index: 9999999999999999999999999999999999999999999999999999999999;
            // transform: scale(1.4); // Fare üzerine gelindiğinde resmi 1.1 kat büyüt
          }
        }
      }
    }
  }
}
