*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{

    .control{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
        .border{
          
         
            img{
                width: 100%;
                height: 40vh;
            }
            h2{
                padding: 20px;
                line-height: 30px;
                font-weight: 600;
             
            }
        }
    }
}
@media(max-width:490px){
    .background{
        .control{
           display: grid;
           grid-template-columns: repeat(1,1fr);
           .border{
            img{
                height: 30vh;
            }
           }
        }
    }
}