* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  .headers {
    margin-top: 15px;
  }

  .boxs {
    padding-top: 15px;
    .border {
      img {
        width: 100%;
        height: 50vh;
        object-fit: fill;
      }
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: black;
}
@media (max-width: 490px) {
  .background {
    .boxs {
      padding-top: 30px;
      .border {
        img {
          width: 100%;
          height: 25vh;
          object-fit: fill;
        }
      }
    }
  }
}
