* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  padding-bottom: 80px;
  .control {
    display: flex;
    justify-content: space-around;

    .images {
      padding-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      img {
        width: 400px;
      }
      h2 {
        font-size: 32px;
      }
    }
    .description {
      padding-top: 80px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .info {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        h2 {
          font-size: 32px;
        }
      }
      .modalclass {
        p {
          width: 500px;
          font-size: 24px;
        }
      }
      .notesclass {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .fragments {
          display: flex;
          justify-content: space-between;
          align-items: center;
          h2 {
            font-size: 20px;
            font-weight: 600;
          }
          h3 {
            font-size: 16px;
          }
        }
      }
    }
  }
  .allperfumes {
    padding-top: 50px;
    .allheaders {
      h2 {
        font-size: 32px;
      }
    }
    .dior {
        margin-top: 30px;
        display: flex;
        align-items: center;
      border: 1px solid rgb(160, 160, 160);
      border-radius: 10px;
      padding: 20px;
      h2{
        font-size: 32px;
      }
    }
  }
  .headers {
    padding-top: 50px;

    display: flex;
    align-items: center;
      gap: 30px;
    justify-content: center;
    .hr {
      hr {
      border: 1px solid black;
      width: 500px;
       
      }
    }
    .h2 {
      h2 {
        font-size: 32px;
        width: 100%;
      }
    }
  }
  .perfumelist{
    padding-bottom: 30px;
    .firstside{
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
            a{
                text-decoration: none;
                font-size: 24px;
                color: black;
            }
            li{
                font-size: 24px;
            }
        }
    }
    .twoside{
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
            li{
                font-size: 24px;
            }
        }
    }
  }
}
