* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  .control {
    display: grid;
   grid-template-columns: repeat(3,1fr);
    padding-top: 80px;
    padding-bottom: 80px;
    flex-wrap: wrap;
    gap: 50px;
    .flexborder {
      display: flex;
      flex-direction: column;
     
      gap: 20px;
      text-decoration: none;
      color: black;
      .border {
        display: flex;

        justify-content: center;

        background-color: white;
        padding: 30px;
        img {
          width: 250px;
          height: 250px;
          transition: transform 0.3s ease-in-out;
          &:hover {
            transform: scale(1.5);
          }
        }
      }
      h2 {
        padding-top: 20px;
        font-weight: 700;
        font-size: 22px;
        text-align: center;
      }
    }
  }
}
@media (max-width: 490px) {
  .background {
    .control {
      display: flex;
      flex-direction: column;
      .flexborder {
        width: 100%;
      }
    }
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.visible {
  opacity: 1;
}
