* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  padding-top: 80px;
  padding-bottom: 80px;
}
.background .control {
  display: flex;
  justify-content: space-around;
}
.background .control .images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.background .control .images img {
  width: 400px;
  transition: transform 0.3s ease-in-out;
}
.background .control .images img:hover {
  transform: scale(1.4);
}
.background .control .images h2 {
  font-size: 32px;
}
.background .control .description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
}
.background .control .description .info {
  cursor: pointer;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.background .control .description .info h2 {
  font-size: 24px;
}
.background .control .description .hr {
  padding-top: 20px;
}
.background .control .description .modalclass p {
  width: 500px;
  line-height: 20px;
  font-size: 16px;
}
.background .control .description .notesclass {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.background .control .description .notesclass .fragments {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.background .control .description .notesclass .fragments h2 {
  font-size: 18px;
  font-weight: 500;
}
.background .control .description .notesclass .fragments a {
  font-size: 24px;
  font-weight: 600;
  color: red;
  text-decoration: none;
}
.background .control .description .notesclass .fragments h3 {
  font-size: 16px;
}
.background .headers {
  padding-top: 50px;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
.background .headers .hr hr {
  border: 1px solid black;
  width: 500px;
}
.background .headers .h2 h2 {
  font-size: 32px;
  width: 100%;
}
.background .perfumelist {
  padding-bottom: 30px;
}
.background .perfumelist .firstside {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.background .perfumelist .firstside ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.background .perfumelist .firstside ul a {
  text-decoration: none;
  font-size: 24px;
  color: black;
}
.background .perfumelist .firstside ul li {
  font-size: 24px;
}
.background .perfumelist .twoside {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.background .perfumelist .twoside ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.background .perfumelist .twoside ul li {
  font-size: 24px;
}
.background .boxs {
  padding-top: 80px;
}
.background .boxs .border {
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
  min-height: 400px;
  justify-content: space-between;
}
.background .boxs .border img {
  width: 250px;
  height: 250px;
}
.background .boxs .border h2 {
  text-align: center;
  padding-top: 30px;
  font-weight: 600;
}
.background .boxs .border h3 {
  font-weight: 500;
  color: blue;
}
.background .boxs .border .button {
  padding-top: 10px;
  text-decoration: none;
}
.background .boxs .border .button a {
  border: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 10px 40px;
  text-decoration: none;
  color: white;
  border-radius: 25px;
  background-color: #0055b8;
}

@media (max-width: 490px) {
  .background .control {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .background .control .images h2 {
    font-size: 20px;
    font-weight: 600;
  }
  .background .control .images img {
    width: 250px;
  }
  .background .control .description {
    width: 100%;
  }
  .background .control .description .info h2 {
    font-size: 18px;
    font-weight: 500;
  }
  .background .control .description .modalclass p {
    width: 100%;
    line-height: 20px;
    font-size: 14px;
  }
  .background .control .description .notesclass {
    gap: 30px;
  }
  .background .control .description .notesclass .fragments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .background .control .description .notesclass .fragments h2 {
    font-size: 16px;
  }
  .background .control .description .notesclass .fragments h3 {
    font-size: 14px;
  }
  .background .control .description .hr hr {
    width: 100%;
  }
  .background .headers .hr hr {
    width: auto;
    width: 30px;
  }
  .background .headers .h2 h2 {
    font-size: 16px;
    font-weight: 600;
  }
  .background .perfumelist .firstside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .background .perfumelist .firstside ul a {
    font-size: 16px;
  }
  .background .perfumelist .firstside ul li {
    font-size: 16px;
  }
  .background .perfumelist .twoside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .background .perfumelist .twoside ul a {
    font-size: 16px;
  }
  .background .perfumelist .twoside ul li {
    font-size: 16px;
  }
  .background .boxs .border {
    min-height: 250px;
    gap: 15px;
  }
  .background .boxs .border img {
    width: 150px;
    height: 150px;
  }
  .background .boxs .border .button {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .background .boxs .border a {
    font-size: 14px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hidden {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.visible {
  opacity: 1;
}/*# sourceMappingURL=index.module.css.map */