* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  padding-top: 80px;
  padding-bottom: 80px;
  .control {
    display: flex;
    justify-content: space-around;

    .images {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      img {
        width: 400px;
      }
      h2 {
        font-size: 32px;
      }
    }
    .description {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 500px;
      .info {
        cursor: pointer;
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        h2 {
          font-size: 24px;
        }
      }
      .hr{
        padding-top: 20px;
      }
      .modalclass {
        p {
          width: 500px;
          line-height: 20px;
          font-size: 16px;
        }
      }
      .notesclass {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .fragments {
          display: flex;
          justify-content: space-between;
          align-items: center;
          h2 {
            font-size: 18px;
            font-weight: 500;
          }
          a {
            font-size: 24px;
            font-weight: 600;
            color: red;
            text-decoration: none;
          }
          h3 {
            font-size: 16px;
          }
        }
      }
    }
  }
  .headers {
    padding-top: 50px;

    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    .hr {
      hr {
        border: 1px solid black;
        width: 500px;
      }
    }
    .h2 {
      h2 {
        font-size: 32px;
        width: 100%;
      }
    }
  }
  .perfumelist {
    padding-bottom: 30px;
    .firstside {
      padding-top: 30px;
      display: flex;
      justify-content: space-between;
      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        a {
          text-decoration: none;
          font-size: 24px;
          color: black;
        }
        li {
          font-size: 24px;
        }
      }
    }
    .twoside {
      padding-top: 30px;
      display: flex;
      justify-content: space-between;
      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        li {
          font-size: 24px;
        }
      }
    }
  }
}
@media(max-width:490px){
  .background{
    .control{
      display: flex;
      flex-direction: column;
      gap: 30px;
      .images{
        h2{
          font-size: 20px;
          font-weight: 600;
        }
        img{
          width: 250px;
        }
      }
      .description{
        width: 100%;
        .info{
          h2{
            font-size: 18px;
            font-weight: 500;
          }
          
        }
        .modalclass {
          p {
            width: 100%;
            line-height: 20px;
            font-size: 14px;
          }
        }
        .notesclass{
          gap: 30px;
          .fragments{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            h2{
              font-size: 16px;
            }
            h3{
              font-size: 14px;
            }
          }
        }
        .hr{
          hr{
            width: 100%;
          }
        }
      }
    }
    .headers {
      .hr {
        hr {
          width: auto;
          width: 30px;
        }
      }
      .h2 {
        h2 {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
    .perfumelist {
      .firstside {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        ul{
          a{
            font-size: 16px;

          }
          li{
            font-size: 16px;
          }
        }
      }
        .twoside {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        ul{
          a{
            font-size: 16px;

          }
          li{
            font-size: 16px;
          }
        }
      }
    }
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.visible {
  opacity: 1;
}
