
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.background {
  padding-top: 80px;
  padding-bottom: 80px;

  .control {
    
    .brendheaders {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      hr {
        width: 50px;
        border: 1px solid black;
        margin: 0;
      }

      h2 {
        font-size: 32px;
      }
    }

    .controlbox {
      padding-top: 60px;
      padding-bottom: 80px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;

      .controlclass {
    
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .border {
          display: flex;
          justify-content: center;
          border: 1px solid gray;
          background-color: white;
          height: 188px;
          img {
            padding: 20px;
            width: 200px;
            object-fit: cover;
          }
        }

        h2 {
          font-weight: 600;
        }
      }
    }
  }
}


@media (max-width: 490px) {
  .background {
    .control {
      .brendheaders {
        hr {
          width: 50px;
        }

        h2 {
          font-size: 24px;
        }
      }

      .controlbox {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding-top: 40px;
        padding-bottom: 40px;

        .controlclass {
          width: 45%;

          .border {
            img {
              width: 100%;
              object-fit: fill;
            }
          }

          h2 {
            font-weight: 600;
          }
        }
      }
    }
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.visible {
  opacity: 1;
}
