*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
    padding-top: 80px;
    padding-bottom: 80px;
   .headers{
    display: flex;
    justify-content: center;
    h2{
        font-size: 25px;
    }
   }
   .boxs{
    padding-top: 40px;
    .border{
        text-decoration: none;
        color: black;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        img{
            width: 250px;
            
        }
        .button{
            padding-top: 20px;
            button{
                border: none;
                outline: none;
                cursor: pointer;
                padding: 10px 40px;
                text-decoration: none;
                color: white;
                background-color: black;
            }
        }
    }
    }
   }

@media(max-width:490px){
    .background{
        padding-top: 40px;
        padding-bottom: 40px;
        .headers{
            h2{
                font-size: 16px;
                font-weight: 600;
            }
        }
        .boxs{
            .border{
                img{
                    width: 150px;
                }
                h2{
                    font-size: 14px;
                }
            }
        }
    }
}