* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  padding-bottom: 80px;

  .control {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    li {
    
      background-color: white;
   
      a {
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .background {
    padding-top: 40px;
    padding-bottom: 40px;
    .control {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      li {
        a {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
