html {
  scroll-behavior: smooth;
}
body{
    background-color: rgb(252,249,245);
    font-family: "Nunito" !important;

}

::-moz-selection {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

::selection {
  color: rgb(255, 255, 255);

  background: rgb(0, 0, 0);

}

  .whatsappButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  
  .whatsappButton:hover {
    background-color: #019c41;
  }
  @media(max-width:490px){
    .whatsappButton{
      border-radius: 50%;
      
    }
    .whatsappIcon{
      height: 30px;
     width: 30px;
    }
  }
  