* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito" !important;
}

.background {
  padding-bottom: 50px;
}
.background .headers1 {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
.background .headers1 .hr hr {
  border: 1px solid black;
  width: 400px;
}
.background .headers1 .h2 h2 {
  font-size: 25px;
  font-weight: 500;
}
.background .perfumelist1 {
  padding-bottom: 60px;
}
.background .perfumelist1 .firstside1 {
  padding-top: 30px;
}
.background .perfumelist1 .firstside1 ul {
  display: grid;
  padding-top: 30px;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.background .perfumelist1 .firstside1 ul li {
  border: 1px solid gray;
  padding: 10px;
  font-size: 16px;
}
.background .perfumelist1 .firstside1 ul li a {
  text-decoration: none;
  color: black;
}
.background .perfumelist1 .firstside1 .button {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.background .perfumelist1 .firstside1 .button button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 40px;
  text-decoration: none;
  color: white;
  background-color: #0055b8;
}
.background .headers {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
.background .headers .hr hr {
  border: 1px solid black;
  width: 500px;
}
.background .headers .h2 h2 {
  font-size: 25px;
  font-weight: 500;
}
.background .perfumelist {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.background .perfumelist .firstside {
  padding-top: 30px;
  width: 100%;
}
.background .perfumelist .firstside ul {
  display: grid;
  padding-top: 30px;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.background .perfumelist .firstside ul li {
  border: 1px solid gray;
  padding: 10px;
}
.background .perfumelist .firstside ul li a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}
.background .perfumelist .firstside .button {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.background .perfumelist .firstside .button button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 40px;
  text-decoration: none;
  color: white;
  background-color: #0055b8;
}

@media (max-width: 490px) {
  .background .headers1 .hr hr {
    width: auto;
    width: 30px;
  }
  .background .headers1 .h2 h2 {
    font-size: 16px;
    font-weight: 600;
  }
  .background .perfumelist1 .firstside1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .background .perfumelist1 .firstside1 ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .background .perfumelist1 .firstside1 ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
  }
  .background .headers .hr hr {
    width: auto;
    width: 30px;
  }
  .background .headers .h2 h2 {
    font-size: 16px;
    font-weight: 600;
  }
  .background .perfumelist .firstside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .background .perfumelist .firstside ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
  }
  .background .perfumelist .firstside ul li {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    text-align: center;
    line-height: 25px;
  }
  .background .perfumelist .firstside ul li a {
    font-size: 14px;
  }
  .background .perfumelist .twoside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}/*# sourceMappingURL=index.module.css.map */