* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  padding-bottom: 50px;
  .headers1 {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    .hr {
      hr {
        border: 1px solid black;
        width: 400px;
      }
    }
    .h2 {
      h2 {
        font-size: 26px;
      }
    }
  }
  .perfumelist1 {
    padding-bottom: 60px;
    .firstside1 {
      padding-top: 30px;
      display: flex;
      justify-content: space-between;
      ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        li {
          font-size: 16px;
        }
      }
    }
  }
  .headers {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    .hr {
      hr {
        border: 1px solid black;
        width: 500px;
      }
    }
    .h2 {
      h2 {
        font-size: 26px;
      }
    }
  }
  .perfumelist {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
align-items: center;
    .firstside {
      padding-top: 30px;
      display: grid;
      gap: 150px;
      grid-template-columns: repeat(6, 1fr);
      width: 90%;
      ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        a {
          text-decoration: none;
          font-size: 16px;
          color: black;
        }
        li {
          font-size: 18px;
        }
      }
    }
    .twoside {
      padding-top: 30px;
      display: grid;
        gap: 150px;
      grid-template-columns: repeat(6, 1fr);
      width: 90%;
      ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        li {
          font-size: 18px;
        }
      }
    }
  }
}
